<div class="myProjectsHeadlineDiv" id="projects">
  <h2 class="myProjectsHeadline" data-key="projectsTitle">My Projects</h2> 
</div>

<div class="projects-container">
  <div class="project-item">
    <img src="./assets/Project pic.Join.png" alt="Join project" class="project-image" />
    <div class="project-details">
      <h2 class="project-title">Join</h2> 
      <p class="project-technologies">JavaScript | HTML | CSS | Firebase</p> 
      <p class="project-description" data-key="joinDescription">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p> 
      <div class="project-links">
        <a href="https://github.com/join-project" target="_blank" class="project-link" data-key="githubLink">GitHub</a> 
        <a href="http://christianseidel-developer.de.w01f8776.kasserver.com/Join-main/html/index.html" target="_blank" class="project-link live-test" data-key="liveTestLink">Live Test</a> 
      </div>
    </div>
  </div>

  <div class="project-item reverse">
    <img src="./assets/Project pic.Pollo loco.png" alt="El Pollo Loco project" class="project-image" />
    <div class="project-details">
      <h2 class="project-title">El Pollo Loco</h2> 
      <p class="project-technologies">JavaScript | HTML | CSS | Object orientation</p> 
      <p class="project-description" data-key="elPolloLocoDescription">Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.</p> 
      <div class="project-links">
        <a href="https://github.com/DevChristian1208/El-Pollo-Loco" target="_blank" class="project-link" data-key="githubLink">GitHub</a> 
        <a href="http://christianseidel-developer.de.w01f8776.kasserver.com/El%20Pollo%20Loco/index.html" target="_blank" class="project-link live-test" data-key="liveTestLink">Live Test</a> 
      </div>
    </div>
  </div>

</div>
