<section class="why-me" id="why-me">
  <div class="container">
    <div class="image-section">
      <img src="./assets/IMG_3721.JPG" alt="Profile Picture">
    </div>
    <div class="text-section">
      <h1 data-key="whyMeTitle">Why me</h1> 
      <p data-key="whyMeText">
        I am motivated to continuously learn new technologies and develop myself. 
        My ability to solve complex problems and my passion for programming make 
        me a valuable member of your team.
      </p>
      <div class="arrowDivResponsive">
        <img class="arrowBottom" src="./assets/Arrow 5.png">
      </div>
      <div class="features">
        <div class="feature">
            <h2 data-key="iAmTitle">I am</h2> 
            <div class="iAMandIcon">
              <img class="icons" src="./assets/Vector (1).png">
              <span class="textLocated" data-key="locatedIn">Located in Hof</span> 
            </div>
        </div>
        <div class="featureMid">
          <img class="arrowBottom" src="./assets/Arrow 5.png">
          <div class="featureMidInner">
            <img class="icons" src="./assets/Group 25.png">
            <span class="text" data-key="openToRelocate">Open to relocate</span>
          </div>
        </div>
        <div class="featureEnd">
          <img class="remoteIcon" src="./assets/lap top.png">
          <span class="text" data-key="openToRemote">Open to work remote</span>
          <img class="arrowUp" src="./assets/Arrow 4.png">
        </div>
      </div>
      <div class="arrowDivResponsive2">
        <img class="arrowButton" src="./assets/Arrow 4 (1).png">
      </div>
      <div class="buttonDiv">
        <button class="cta-button" data-key="contactButton" onclick="document.getElementById('contact').scrollIntoView({ behavior: 'smooth' });">Contact Me</button>
      </div>
    </div>
  </div>
</section>
