<div class="imprint-container">
    <header>
      <h1>Impressum</h1>
    </header>
  
    <section class="section">
      <h2>Angaben gemäß § 5 TMG</h2>
      <p>
        Christian Seidel<br />
        Am Hang 4<br />
        95152 Selbitz
      </p>
    </section>
  
    <section class="section">
      <h2>Kontakt</h2>
      <p>
        Telefon: 0175 6453064<br />
        Email: <a href="mailto:christian.pressig@web.de">christian.pressigweb.de</a>
      </p>
    </section>
  
    <section class="section">
      <p>Quelle: eRecht24</p>
    </section>
  
    <section class="section">
      <h1>Datenschutzerklärung</h1>
  
      <h2>1. Datenschutz auf einen Blick</h2>
  
      <h3>Allgemeine Hinweise</h3>
      <p>
        Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
        Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen.
        Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
        identifiziert werden können. Ausführliche Informationen zum Thema
        Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
        Datenschutzerklärung.
      </p>
  
      <h3>Datenerfassung auf dieser Website</h3>
  
      <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
      <p>
        Die Datenverarbeitung auf dieser Website erfolgt durch den
        Websitebetreiber. Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis
        zur Verantwortlichen Stelle“ in dieser Datenschutzerklärung entnehmen.
      </p>
  
      <h4>Wie erfassen wir Ihre Daten?</h4>
      <p>
        Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese
        mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein
        Kontaktformular eingeben. Andere Daten werden automatisch oder nach Ihrer
        Einwilligung beim Besuch der Website durch unsere IT-Systeme erfasst. Das
        sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem
        oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt
        automatisch, sobald Sie diese Website betreten.
      </p>
  
      <h4>Wofür nutzen wir Ihre Daten?</h4>
      <p>
        Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
        Website zu gewährleisten. Andere Daten können zur Analyse Ihres
        Nutzerverhaltens verwendet werden.
      </p>
  
      <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
      <p>
        Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft,
        Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu
        erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung
        dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur
        Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit
        für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter
        bestimmten Umständen die Einschränkung der Verarbeitung Ihrer
        personenbezogenen Daten zu verlangen. Des Weiteren steht Ihnen ein
        Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Hierzu sowie zu
        weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns
        wenden.
      </p>
  
      <h2>2. Hosting</h2>
      <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>
  
      <h3>Externes Hosting</h3>
      <p>
        Diese Website wird extern gehostet. Die personenbezogenen Daten, die auf
        dieser Website erfasst werden, werden auf den Servern des Hosters / der
        Hoster gespeichert. Hierbei kann es sich v. a. um IP-Adressen,
        Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten,
        Kontaktdaten, Namen, Websitezugriffe und sonstige Daten, die über eine
        Website generiert werden, handeln. Das externe Hosting erfolgt zum Zwecke
        der Vertragserfüllung gegenüber unseren potenziellen und bestehenden
        Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren,
        schnellen und effizienten Bereitstellung unseres Online-Angebots durch
        einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO). Sofern eine
        entsprechende Einwilligung abgefragt wurde, erfolgt die Verarbeitung
        ausschließlich auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs.
        1 TDDDG, soweit die Einwilligung die Speicherung von Cookies oder den
        Zugriff auf Informationen im Endgerät des Nutzers (z. B.
        Device-Fingerprinting) im Sinne des TDDDG umfasst. Die Einwilligung ist
        jederzeit widerrufbar.
      </p>
      <p>
        Unser(e) Hoster wird bzw. werden Ihre Daten nur insoweit verarbeiten, wie
        dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere
        Weisungen in Bezug auf diese Daten befolgen.
      </p>
  
      <p>Wir setzen folgende(n) Hoster ein:</p>
      <p>
        Developer Akademie GmbH<br />
        Tassiloplatz 25<br />
        81541 München
      </p>
  
      <h3>Auftragsverarbeitung</h3>
      <p>
        Wir haben einen Vertrag über Auftragsverarbeitung (AVV) zur Nutzung des
        oben genannten Dienstes geschlossen. Hierbei handelt es sich um einen
        datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet, dass
        dieser die personenbezogenen Daten unserer Websitebesucher nur nach
        unseren Weisungen und unter Einhaltung der DSGVO verarbeitet.
      </p>
  
      <h2>3. Allgemeine Hinweise und Pflicht­informationen</h2>
  
      <h3>Datenschutz</h3>
      <p>
        Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten
        sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
        entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser
        Datenschutzerklärung.
      </p>
  
      <footer>
        <p>© Christian Seidel 2024</p>
      </footer>

  