.imprint-container {
    background: linear-gradient(180deg, #130849 0%, #2c1a88 100%);  
    color: #fff;
    padding: 2rem;
    padding-top: 100px;
  }
  
  .section {
    margin-bottom: 2rem; 
  }

  