<div class="landing-page" id="landing-page">
    <div class="background-glow glow-purple"></div>
    <div class="background-glow glow-green"></div>

    <div class="landing-page-content">
        <div class="left-content">
            <div class="text-container-inner">
                <h2 class="role lang">FRONTEND DEVELOPER</h2> 
                <h1 class="name">Christian Seidel</h1>
            </div>
        </div>
        <button class="cta-button lang" data-key="contact-button" onclick="document.getElementById('contact').scrollIntoView({ behavior: 'smooth' });">Contact Me</button>
        <div class="right-content">
            <img src="./assets/file.png" alt="Developer Image" class="developer-image" />
        </div>
    </div>
</div>
