body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;

  }

  .landing-page{
    background: #0B042D;
  }

  .why-me{
    background: linear-gradient(180deg, #09012F 0%, #130849 35%);
  }

  .skills-container {
    background: linear-gradient(180deg, #130849 0%, #2c1a88 100%);
  }

  .myProjectsHeadlineDiv{
    background: linear-gradient(180deg, #2c1a88 0%, #2c1a88 100%);
  }

  .projects-container {
    background: linear-gradient(180deg, #2c1a88 0%, #15175e 50%, #1c0f57 100%);

  }

  .contact-section {
    background: linear-gradient(180deg, #1c0f57 0%, #0d0436 100%),

  }

  .footerMainDiv{
    background: linear-gradient(180deg, #0d0436 0%, #10053f 100%),
  }
  

