<!-- src/app/shared/footer/footer.component.html -->
<div class="footerMainDiv">
  <div class="footerUpperDiv">
    <div class="footerLeft">
      <h2>&lt;CS&gt;</h2>
      <p>frontend developer</p>
    </div>
    <div class="footerMid">
      <p class="csFooter">© Christian Seidel 2024</p>
    </div>
    <div class="footerRight">
      <a href="https://github.com/DevChristian1208" target="_blank">
        <img src="./assets/Github button.png" alt="GitHub">
      </a>
      <a href="mailto:christian.pressig@web.de">
        <img src="./assets/Email button.png" alt="Email">
      </a>
      <a href="https://www.linkedin.com/in/christian-seidel-091718320/" target="_blank">
        <img src="./assets/Linkedin button.png" alt="LinkedIn">
      </a>
    </div>
  </div>
  <div class="footerLowerDiv">
    <div class="footerLinks">
      <a routerLink="/imprint">Legal notice</a> | 
      <a routerLink="/imprint">Privacy policy</a>
    </div>
  </div>
</div>
